* {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    position: fixed;
    display: grid;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    align-items: center;
    transition: .5s ease-in-out;
}

.backgroundHeader {
    background: #8c8c94;
    color: #ffffff;
}

.header a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.navInactive::before {
    content: '';
    position: absolute;
    bottom: 0%;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: .5s ease-in-out;
}

.navInactive:hover::before {
    width: 100%;
    height: 2px;
}

.navActive::before {
    content: '';
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.navigation a {
    margin: 0 20px;
    font-size: 22px;
}

.headerIcone {
    position: absolute;
    right: 0%;
    margin-right: 25px;
}

.headerIcone img {
    box-sizing: content-box;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    border-radius: 20%;
    padding: 2px;
    transition: .5s all ease-in-out;
}

.headerIcone img:hover {
    width: 40px;
    height: 40px;
}

/* MAIN */

.main {
    background-image: linear-gradient(120deg, #dee7e4 0, #d4d6d5 25%, #c7c1c4 50%, #b9adb4 75%, #ad9da9 100%);
}

/* GO TOP */

.goTop {
    position: fixed;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: .5s;
}

.goTop:hover {
    width: 40px;
    height: 40px;
}

/* PRESENTATION */

.presentation {
    background: url("../img/IMG_0124noir.jpg") center / cover no-repeat;
    height: 100vh;
}

.description {
    display: flex;
    width: 80%;
    margin: auto;
    color: #ffffff;
    padding-top: 40vh;
    align-items: center;
    justify-content: space-between;
}

.description h3 {
    font-size: 1.7rem;
}

.description h1 {
    font-size: 3rem;
    color: #5271ff;
}

/* A PROPOS */

.aPropos {
    width: 70%;
    margin: auto;
    font-size: 21px;
    padding: 60px 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.titre {
    text-align: center;
    margin: auto;
    border-bottom: solid #5271ff;
    margin-bottom: 40px;
}

.aPropos h1 {
    color: #5271ff;
}

.aPropos p {
    margin-top: 15px;
}

.traitSection {
    width: 80%;
    margin: auto;
    border: solid 1px;
}

/* PORTFOLIO */

.articleVitrine {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 60px 0;
    font-size: 21px;
}

.articleVitrine h1 {
    color: #5271ff;
}

.articleVitrine ul {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
    margin-top: 40px;
}

.articleVitrine ul li {
    margin: 0 20px;
    cursor: pointer;
    transition: .8s all ease-in-out;
}

.articleVitrine ul li:hover {
    color: #5271ff;
}

.activeFiltre {
    color: #5271ff;
}

.vitrine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.vitrine a {
    margin-top: 35px;
}

.vitrine img {
    width: 250px;
    margin: 25px;
}

/* CV */

.cv {
    text-align: center;
    padding: 60px 0;
    font-size: 21px;
    display: flex;
    flex-direction: column;
}

.cv h1 {
    margin-bottom: 40px;
    color: #5271ff;
}

.cv a {
    width: auto;
    margin: 40px auto;
    padding: auto;
}

.cvMobile {
    display: none;
}

/* CONTACT */

.contact {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 60px 0;
    font-size: 21px;
}

.contact h1 {
    margin-bottom: 40px;
    color: #5271ff;
}

.informationContact {
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: auto auto;
    text-align: end;
}

.informationContact p {
    margin-bottom: 15px;
}

.informationContact p:nth-child(2n+1) {
    white-space: nowrap;
}

/* FOOTER */

.footer {
    background: #8c8c94;
    text-align: center;
    padding: 20px 0;
}

.footerIcone {
    position: absolute;
    left: 0;
    right: 0;
}

.footer img {
    width: 35px;
    height: 35px;
    margin: 0 7.5px;
    transition: .5s all ease-in-out;
}

.footer img:hover {
    width: 40px;
    height: 40px;
}

.footer p {
    margin-top: 60px
}

@media (max-width : 1330px) {
    .vitrine {
        height: auto;
    }
}

@media (max-width : 890px) {

    /* CV */


    .cvDesktop {
        display: none;
    }

    .cvMobile {
        display: block;
        color: inherit;
        text-decoration: none;
        position: relative;
    }

    .cvMobile::before {
        content: '';
        position: absolute;
        bottom: 0%;
        width: 0%;
        height: 2px;
        transition: .5s ease-in-out;
    }

    .cvMobile:hover::before {
        width: 100%;
        height: 2px;
        background-color: black;
    }

    .cvMobile img {
        width: 500px;
    }

}