@font-face {
    font-family: "finland_rounded";
    src: url("../police/finland_rounded/Finland\ Rounded\ Thin.otf");
}
@font-face {
    font-family: "advent";
    src: url("../police/advent/advent-Lt1.otf");
}

* {
    font-family: "dosis" ,"roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    position: fixed;
    display: grid;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    align-items: center;
    transition: .5s ease-in-out;
    z-index: 5;
}

.backgroundHeader {
    background: rgba(140, 140, 148, .85);
    color: #ffffff;
}

.navigation a {
    color: inherit;
    text-decoration: none;
    position: relative;
    font-family: "finland_rounded";
    font-size: 40px;
    margin: 0 20px;
}

.navInactive::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #fff;
    width: 100%;
    transform-origin: 1 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    border-radius: 20px;
}

.navInactive:hover::before {
    transform: scaleX(1);
    transform-origin: 1 0;
}

.navActive::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #fff;
    width: 100%;
    transform: scaleX(1);
    border-radius: 20px;
}

.navEnMoin::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #fff;
    width: 0;
    transform: scaleX(1);
}

.headerIcone {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0%;
    margin-right: 25px;
}

.headerIcone img {
    box-sizing: content-box;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    border-radius: 20%;
    padding: 2px;
    transition: .5s all ease-in-out;
}

.headerIcone img:hover {
    width: 40px;
    height: 40px;
}

.headerIcone .iconeMailHeader {
    height: 25px;
}

.headerIcone .iconeMailHeader:hover {
    height: 32px;
}

.hamburger {
    display: none;
    position: fixed;
    right: 1%;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 40px;
    color: #000000;
}

.hamburgerSidebar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50vh;
    background: rgb(140, 140, 148);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: transform .2s ease-out;
    z-index: 12;
}

.hamburgerSidebar a {
    font-family: "finland_rounded";
}

/* MAIN */

.hamburgerOverlay {
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

/* GO TOP */

.goTop {
    position: fixed;
    bottom: 0%;
    right: 1%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: .5s;
    transform: translateY(150%);

}

.goTop:hover {
    width: 40px;
    height: 40px;
}

/* PRESENTATION */

.presentation {
    background: url("../img/IMG_0124noir.jpg") center / cover no-repeat;
    height: 100vh;
}

.description {
    display: flex;
    width: 80%;
    margin: auto;
    color: #ffffff;
    padding-top: 40vh;
    align-items: center;
    justify-content: space-between;
}

.description h3 {
    font-size: 50px;
    font-family: "finland_rounded";
    /* color: #476a7f; */
}

.description h1 {
    font-size: 80px;
    color: #ff7f50;
    font-family: "finland_rounded";

}

/* A PROPOS */

.backgroundAPropos {
    background-color: #ffffff;
}

.aPropos {
    width: 70%;
    margin: auto;
    font-size: 21px;
    padding: 60px 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.titre {
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    color: #ff7f50;
    border-bottom: solid #ff7f50;
    margin-bottom: 40px;
    font-family: "finland_rounded";
    font-size: 50px;
}

.aPropos p {
    margin-top: 15px;
    color: #000000;
}

.aPropos p:nth-child(2) {
    font-weight: bold;
}

.goContact {
    color: #000000;
    text-decoration: none;
    font-style: italic;
}
/* COMPETENCES */

.backgroundCompetences {
    background-color: #476a7f;
}

.competences {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 60px 0;
    font-size: 21px;
    padding-bottom: 0;
}

.competence {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 ;
}

.competence p {
    width: 10%;
}

.competence .barre {
    position: relative;
    width: 70%;
    height: 15px;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.barreHtml {
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 0;
    background-color: #ff7f50;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .5s ease-in-out;
}

.barreJs {
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 0;
    background-color: #ff7f50;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .7s ease-in-out;
}

.barrePhp {
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 0;
    background-color: #ff7f50;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1s ease-in-out;
}

.barreMysql {
    position: absolute;
    width: 0;
    height: 100%;
    z-index: 0;
    background-color: #ff7f50;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1.2s ease-in-out;
}


/* PORTFOLIO */

.backgroundProjets {
    background-color: #476a7f;
    height: auto;
}

.articleVitrine {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 60px 0;
    font-size: 21px;
    color: #ffffff;
}

.articleVitrine ul {
    display: flex;
    list-style: none;
    margin: 40px auto 30px;
    padding: 0;
}

.articleVitrine ul li {
    margin: 0 20px;
    cursor: pointer;
    transition: .8s all ease-in-out;
}

.articleVitrine ul li:hover {
    color: #ff7f50;
}

.activeFiltre {
    color: #ff7f50;
}

.vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.vitrine .box-projet {
    width: 400px;
    position: relative;
    height: 270px;
    border-radius: 20px;
    display: flex;
    margin: 20px 10px;
}

.vitrine .box-projet .image-projet {
    width: 100%;
    position: absolute;
    height: 270px;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.overlay {
    display: flex;
    background-color: rgba(140, 140, 148, .85);
    position: relative;
    text-align: center;
    align-items: center;
    overflow: hidden;
    height: 0;
    transition: 1s;
    border-radius: 20px;
}

.overlay img {
    width: 50%;
}

.vitrine .box-projet:hover .overlay {
    height: 100%;
}

.overlay a img {
    width: 50%;
}

.overlay a:first-child {
    filter: invert(1);
}

.overlay a:hover:nth-child(2) {
    filter: invert(1);
}

.overlay a:hover:first-child {
    filter: invert(0);
}

.image_overlay:hover .overlay{
    height: 100%;
}


/* CV */


.cv {
    width: 80%;
    text-align: center;
    padding: 60px 0;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: auto;
}

.cv a {
    margin: 40px auto;
    padding: 0;
    width: 70%;
}

.cv a img {
    width: 80%;
}

.cvMobile {
    display: none;
}

/* CONTACT GAUCHE*/

.backgroundContact {
    background-color: #476a7f;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 60px 0;
    font-size: 21px;
}

.boxContact {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.informationContact {
    display: grid;
    width: 45%;
    margin: 40px 0;
    grid-template-columns: 80px auto;
    height: 100%;
    line-height: 30px;
}

.iconeTel {
    width: 25px;
    height: 25px;
    margin: auto;
}

.iconeMail {
    margin: auto;
    width: 35px;
    height: 25px;
}

.iconeLocation {
    margin: auto;
    width: 25px;
}

.informationContact p {
    margin: 7.5px 0;
}

.informationContact p:nth-child(2n+1) {
    white-space: nowrap;
}

.carte {
    margin: 30px 7.5px 0;
    grid-column: span 2;
    width: 100%;
    height: 346px;
}

/* CONTACT DROITE */

.formulaireContact {
    width: 45%;
}

.formContact {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

.nomMail {
    display: flex;
    justify-content: space-between;
}

.nomMail input {
    width: 45%;
    margin: 7.5px 0;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
    color: #000000;
    outline: 0;
}

.inputMessage {
    min-width: 50%;
    max-width: 100%;
    min-height: 25vh;
    max-height: 50vh;
    margin: 7.5px 0;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
    color: #000000;
    outline: 0;
}

.envoyerMail {
    margin: 7.5px 0;
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px;
    color: #000000;
    outline: 0;
    background-color: white;
}

/* FOOTER */

.footer {
    background: #8c8c94;
    text-align: center;
    padding: 20px 0;
}

.footerIcone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 35px;
    height: 35px;
    margin: 0 7.5px;
    transition: .5s all ease-in-out;
}

.footer img:hover {
    width: 40px;
    height: 40px;
}

.footer .iconeMailHeader {
    height: 25px;
}

.footer .iconeMailHeader:hover {
    height: 32px;
}

.footer p {
    margin-top: 10px
}

@media (max-width : 1100px) {

    /* HEADER HAMBURGER */

    .header {
        display: none;
    }

    .navigation {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .hamburger {
        display: block;
    }

    /* PORTFOLIO */

    .image_overlay {
        width: 45%;
    }
}

@media (max-width : 1060px) {

    /* DESCRIPTION */

    .description {
        flex-direction: column;
        padding-top: 60vh;
    }

    /* VITRINE */

    .vitrine a {
        width: 70%;
    }

    /* CONTACT */

    .boxContact {
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

    .informationContact {
        width: 100%;
        margin: auto;
    }

    .formulaireContact {
        width: 100%;
    }
}

@media (max-width : 960px){

    /* COMPETENCES */

    .competence {
        flex-direction: column;
    }

    .competence p {
        width: auto;
        margin-bottom: 10px;
    }

    .competence .barre {
        width: 85%;
    }
}


@media (max-width : 860px){


    /* PORTFOLIO */

    .vitrine {
        flex-direction: column;
        align-items: center;
    }

    .image_overlay {
        width: 80%;
    }

}

@media (max-width : 600px) {

    /* PORTFOLIO */

    .articleVitrine ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .articleVitrine ul li {
        width: 35%;
    }

    .vitrine .box-projet{
        width: auto;
    }

}



@media (max-width : 450px) {
    
    /* DESCRIPTION */

    .description h1 {
        margin-top: 30px;
        font-size: 60px;
    }

    .description h3 {
        font-size: 30px;
    }

    /* PORTFOLIO */

    .articleVitrine ul li {
        margin: 0 10px;
    }

    /* CONTACT */


}


