* {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    position: fixed;
    display: grid;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    transition: .8s all ease-in-out;
    align-items: center;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header a:hover {
    color: #5271ff;
}

.backgroundHeader {
    background: #8c8c94;
    color: #ffffff;
}

.navigation .navActive {
    color: #5271ff;
    font-weight: bold;
}

.navigation .navInactive {
    transition: .8s all ease-in-out;
}

.navigation a {
    margin: 0 20px;
    font-size: 22px;
}

.headerIcone {
    position: absolute;
    right: 0%;
    margin-right: 25px;
}

.headerIcone img {
    box-sizing: content-box;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    border-radius: 20%;
    padding: 2px;
    transition: .8s all ease-in-out;
}

.headerIcone img:hover {
    width: 45px;
    height: 45px;
}

/* MAIN */

.main {
    background: #cbcbcb;
    color: #313639;
    width: 100%;
    height: 100%;
}

/* PRESENTATION */

.presentation {
    background: url("../img/IMG_0124noir.jpg") center / cover no-repeat;
    height: 100vh;
}

.description {
    text-align: center;
    color: #ffffff;
    padding-top: 50vh;
}

.description h3 {
    font-size: 1.3rem;
}

.description h1 {
    font-size: 4rem;
    color: #5271ff;
}

/* A PROPOS */

.aPropos {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 21px;
    padding: 60px 0 ;
    scroll-behavior: smooth;
}

.aPropos h1 {
    margin-bottom: 40px;
    color: #5271ff;
}

.aPropos p {
    margin-top: 15px;
}

.traitSection {
    width: 80%;
    margin: auto;
    border: solid 1px;
}

/* PORTFOLIO */

.articleVitrine {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 60px 0;
    font-size: 21px;
}

.articleVitrine h1 {
    color: #5271ff;
}

.articleVitrine ul {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
    margin-top: 40px;
}

.articleVitrine ul li {
    margin: 0 20px;
    cursor: pointer;
    transition: .8s all ease-in-out;
}

.articleVitrine ul li:hover {
    color: #5271ff;
}

.activeFiltre {
    color: #5271ff;
}

.vitrine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.vitrine a {
    margin-top: 35px;
}

.vitrine img {
    width: 250px;
    margin: 25px;
}

/* CV */

.cv {
    text-align: center;
    padding: 60px 0;
    font-size: 21px;
}

.cv h1 {
    margin-bottom: 40px;
    color: #5271ff;
}

.cv img {
    width: auto;
}

/* CONTACT */

.contact {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 60px 0;
    font-size: 21px;
}

.contact h1 {
    margin-bottom: 40px;
    color: #5271ff;
}

.informationContact {
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: auto auto;
    text-align: end;
}

.informationContact p {
    margin-bottom: 15px;
    white-space: nowrap;
}

.informationContact p:nth-child(2n){
    text-align: center;
}

/* FOOTER */

.footer {
    background: #8c8c94;
    text-align: center;
    padding: 20px 0;
}

.footer img {
    width: 35px;
    height: 35px;
    margin: 0 7.5px;
    transition: .8s all ease-in-out;
}

.footer img:hover {
    width: 45px;
    height: 45px;
}

.footer p {
    margin-top: 15px
}

@media (max-width : 1330px){
    .vitrine {
        height: auto;
    }
}
