@import "./reset.css";
@import "./fonts.css";

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

main {
    max-width: 90%;
    margin: 4rem auto;
}
main > section {
    padding: 120px 0;
}

body {
    font-family: "MontserratR";
    color: #1f1f1f;
    background-color: #dde0bd;
}

body.darkmode {
    /* background-color: #1f1f1f; */
    color: white;
    background: rgb(31, 31, 31);
    /* background: linear-gradient(180deg, rgba(31, 31, 31, 1) 59%, rgba(47, 80, 65, 1) 100%); */
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 0.5rem 1.5rem;
    background-color: #557761;
    display: inline-block;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}
.btn:hover {
    background-color: #59786a;
}
