/* @import "./reset.css"; */
@import "./fonts.css";
@import "tailwindcss";
@plugin "daisyui";

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

main {
    margin: 4rem auto;
}

main>section {
    padding: 120px 0;
}

body {
    max-width: 1400px;
    padding-inline: 1rem;
    font-family: "MontserratR";
    margin-inline: auto;
}

button {
    font-family: "MontserratR";

}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

/* .btn {
    padding: 0.5rem 1.5rem;
    background-color: #557761;
    display: inline-block;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border: none;
} */
/* 
.btn:hover {
    background-color: #59786a;
} */